---
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/Button.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro øvelser</title>
  </head>
  <body>
    <Navigation />
    <h1>Astro øvelser</h1>
    <main>
      <Button variant="primary" size="small">Say hi!</Button>
      <Button variant="secondary" size="medium">Say hi!</Button>
      <Button variant="tertiary" size="large">Say hi!</Button>

      <Card header="S'up y'all!">
        <img src="public/mini_mushroom.webp" alt="dummy-image" />
        <button>Say hi!</button>
      </Card>

      <Card header="S'up y'all!">
        <button>Say hi!</button>
        <img src="public/planter_sanke.webp" alt="dummy-image" />
      </Card>

      <logo-slider>
        <div>
          <img src="https://picsum.photos/172/45" />
          <a href="#"><img src="https://picsum.photos/67/89" /></a>
          <a href="#"><img src="https://picsum.photos/150/120" /></a>
          <img src="https://picsum.photos/199/33" />
          <img src="https://picsum.photos/50/100" />
          <a href="#"><img src="https://picsum.photos/134/76" /></a>
          <img src="https://picsum.photos/88/192" />
          <img src="https://picsum.photos/55/145" />
          <img src="https://picsum.photos/180/60" />
          <img src="https://picsum.photos/40/175" />
          <a href="#"><img src="https://picsum.photos/130/110" /></a>
          <img src="https://picsum.photos/100/50" />
          <img src="https://picsum.photos/70/160" />
          <img src="https://picsum.photos/190/80" />
          <img src="https://picsum.photos/65/185" />
          <a href="#"><img src="https://picsum.photos/155/90" /></a>
          <img src="https://picsum.photos/125/35" />
          <img src="https://picsum.photos/95/170" />
          <a href="#"><img src="https://picsum.photos/178/42" /></a>
          <img src="https://picsum.photos/37/195" />

          <!-- Duplicate images, if not using JS, uncomment these -->
          <!--     
          <img src="https://picsum.photos/172/45">
          <a href="#"><img src="https://picsum.photos/67/89"></a>
          <a href="#"><img src="https://picsum.photos/150/120"></a>
          <img src="https://picsum.photos/199/33">
          <img src="https://picsum.photos/50/100">
          <a href="#"><img src="https://picsum.photos/134/76"></a>
          <img src="https://picsum.photos/88/192">
          <img src="https://picsum.photos/55/145">
          <img src="https://picsum.photos/180/60">
          <img src="https://picsum.photos/40/175">
          <a href="#"><img src="https://picsum.photos/130/110"></a>
          <img src="https://picsum.photos/100/50">
          <img src="https://picsum.photos/70/160">
          <img src="https://picsum.photos/190/80">
          <img src="https://picsum.photos/65/185">
          <a href="#"><img src="https://picsum.photos/155/90"></a>
          <img src="https://picsum.photos/125/35">
          <img src="https://picsum.photos/95/170">
          <a href="#"><img src="https://picsum.photos/178/42"></a>
          <img src="https://picsum.photos/37/195">
          -->
        </div>
      </logo-slider>
    </main>
  </body>
</html>
